<html>
<head>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      margin: 50px;
    }

    .unapproved h2, .unapproved h2 a {
      color: red;
    }
    .unapproved h2:after {
      content: " (unapproved)"
    }
  </style>
</head>
<body>
<div class="container">
  <div class="summary hero-unit">
    <h1>Dependencies</h1>

    <h4>
      <%= dependencies.size %> total

      <% if unapproved_dependencies.any? -%>
        <span class="badge badge-important"><%= unapproved_dependencies.size %> unapproved</span>
      <% end -%>
    </h4>

    <ul>
      <% grouped_dependencies.each do |license, group| -%>
        <li><%= group.size %> <%= license %></li>
      <% end -%>
    </ul>
  </div>
  <% if unapproved_dependencies.any? -%>
    <div class="action-items hero-unit">
      <h1>Action Items</h1>
      <h4><%= unapproved_dependencies.size %> unapproved dependencies</h4>
      <ul>
        <% unapproved_dependencies.each do |dependency| -%>
          <li>
          <a href='#<%= dependency.name %>'>
            <%= dependency.name %>
          </a>
          (<%= dependency.license %>)
          </li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="dependencies">
    <% sorted_dependencies.each do |dependency| -%>
      <div id="<%= dependency.name %>" class="<%= dependency.approved ? "approved" : "unapproved" %>">
        <h2>
          <% if dependency.homepage && !dependency.homepage.empty? -%>
            <a href="<%= dependency.homepage %>"><%= dependency.name %></a>
          <% else -%>
            <%= dependency.name %>
          <% end -%>
          v<%= dependency.version %>
          <% if dependency.bundler_groups.any? -%>
            (<%= dependency.bundler_groups.join(", ") %>)
          <% end -%>
        </h2>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Summary</th>
            <th>Description</th>
            <th>License</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= dependency.summary %></td>
            <td><%= dependency.description %></td>
            <td>
              <% if dependency.license_url && !dependency.license_url.empty? -%>
                <a href="<%= dependency.license_url %>"><%= dependency.license %></a>
              <% else -%>
                <%= dependency.license %>
              <% end -%>
            </td>
          </tr>
          </tbody>
        </table>
        <% if dependency.parents.any? -%>
          <dl>
            <dt>Parents</dt>
            <% dependency.parents.each do |parent| -%>
              <dd><%= parent %></dd>
            <% end -%>
          </dl>
        <% end -%>
        <% if dependency.children.any? -%>
          <dl>
            <dt>Children</dt>
            <% dependency.children.each do |child| -%>
              <dd><%= child %></dd>
            <% end -%>
          </dl>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
</body>
</html>
