# <%= LicenseFinder.config.project_name %>

As of <%= Time.now.strftime("%B %e, %Y %l:%M%P") %>. <%= dependencies.size %> total

## Summary
<% grouped_dependencies.each do |license_name, group| -%>
* <%= group.size %> <%= license_name %>
<% end %>

<% if unapproved_dependencies.any? -%>
## Action
<%= unapproved_dependencies.size %> *unapproved*

<% unapproved_dependencies.each do |dependency| -%>
* <a href='#<%= dependency.name %>'><%= dependency.name %></a> (<%= dependency.license.name %>)
<% end %>
<% end -%>

## Items

<% sorted_dependencies.each do |dependency|
version_groups = "v#{dependency.version}"
if dependency.bundler_groups.any?
  version_groups += " (#{dependency.bundler_groups.map(&:name).join(", ")})"
end -%>

<% if dependency.homepage && !dependency.homepage.empty? -%>
<a name="<%= dependency.name %>"></a>
### [<%= dependency.name %>](<%= dependency.homepage %>) <%= version_groups -%>
<% else -%>
### <%= dependency.name %> <%= version_groups -%>
<% end -%>

#### <%= dependency.summary %>

<% if dependency.approved_manually? -%>
<%= link_to_license(dependency.license) %> manually approved

><%= dependency.manual_approval.notes %>

><cite> <%= dependency.manual_approval.approver %> </cite>
<% elsif dependency.whitelisted? -%>
<%= link_to_license(dependency.license) %> whitelisted
<% else -%>
<%= link_to_license(dependency.license) %> _**unapproved**_
<% end -%>

<% if dependency.description -%>
<%= dependency.description %>
<% end -%>
<% end -%>
